<div class ="main">
    <div class="top">
        <img src="../../assets/Images/racing 1.svg" alt="my picture">
        <div class="txt">
            <h3>
                Name of event
            </h3>
            <p>
                <strong>Time: </strong>xxxxxxxx
            </p>
            <p>
                <strong>Date: </strong>xxxxxxxx
            </p>
            <p>
                <strong>Venue: </strong>xxxxxxxx
            </p>
        </div>
        
    </div>
    <div class="disp">
        <h5>Description</h5>
        <p>
            Loreenean commodo ligula get dolor.
            Aenean massa. Cum sociis natoque penatibus
            et magnis dis parturient montes, nascetur
            ridiculus mus. Loreenean commodo ligula
            eget dolor. Aenean massa. Cum socils
            natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus.o ligula
            eget dolor. Aenean massa. Cum socils
            natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus.o ligula
            eget dolor. Aenean massa. Cum socils
            natoque penatibus et magnis
        </p>
    </div>
    <div class="ticket">
        <h5>
            Tickets
        </h5>
        <div class="top-box">
            <input type="radio"/>
            <label><strong>General :</strong> R1500</label>
        </div>
        <div class="bottom-box">
            <input type="radio" />
            <label><strong>VIP :</strong> R1800</label>
        </div>
        <div class="inputdiv">
            <div class="qtydiv">
                <p>QTY</p>
                <input type="text" placeholder="1" />
            </div>
            <button class="btnadd">ADD TO CART</button>
        </div>
    </div>
    <button class="checkout">CHECKOUT</button>
</div>