<div class ="main">
    <div class="top">
        <img src="../../assets/Images/{{Image}}" alt="my picture">
        <div class="txt">
            <h3>
                {{Name}}
            </h3>
            <p>
                <strong>Time: </strong>{{Time}}
            </p>
            <p>
                <strong>Date: </strong>{{Date}}
            </p>
            <p>
                <strong>Venue: </strong>{{Venue}}
            </p>
        </div>
        
    </div>
    <div class="disp">
        <h5>Description</h5>
        <p>
            An event that brings the underground scene to life, by inviting some of South Africa come give an experience like no other on the streets of Kagiso. A carefully curated line up whose mandate is to not compromise but to educate to an o
        </p>
    </div>
    <div class="ticket">
        <h5>
            Tickets
        </h5>
        <div class="top-box">
            <input type="radio"/>
            <label><strong>General :</strong> R200</label>
        </div>
        <div class="bottom-box">
            <input type="radio" />
            <label><strong>VIP :</strong> R300</label>
        </div>
        <div class="inputdiv">
            <div class="qtydiv">
                <p>QTY</p>
                <input type="text" placeholder="1" />
            </div>
            <button class="btnadd">ADD TO CART</button>
        </div>
    </div>
    <button class="checkout">CHECKOUT</button>
</div>