.itemdiv {
    border-radius: 23px;
    border: 1px solid #5ED235;
    padding: 15px;
    color: white;
    display: flex;
    transform: 1s;
    
}

.text{
    padding-left: 20px;
}

.text h3{
    margin-top:5px;
    margin-bottom:20px;
}

.text p {
    font-size:12px;
    margin-top: -8px;
}


